.u-section-1 .u-sheet-1 {
  min-height: 117px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  width: 411px;
  margin: 24px auto 0;
}

.u-section-1 .u-text-2 {
  width: 682px;
  margin: 9px auto 20px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 307px;
}

.u-section-2 .u-list-1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.u-section-2 .u-repeater-1 {
  min-height: 287px;
  grid-template-columns: calc(25% - 15.75px) calc(25% - 15.75px) calc(25% - 15.75px) calc(25% - 15.75px);
  grid-gap: 21px 21px;
}

.u-section-2 .u-container-layout-1 {
  padding: 5px 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1rem;
  margin: 12px 0 0;
}

.u-section-2 .u-image-1 {
  height: 170px;
  width: 225px;
  margin: 23px auto 0;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: normal;
  margin: 10px auto 0;
  padding: 6px 22px 7px;
}

.u-section-2 .u-container-layout-2 {
  padding: 5px 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1rem;
  margin: 12px 0 0;
}

.u-section-2 .u-image-2 {
  height: 170px;
  width: 225px;
  margin: 23px auto 0;
}

.u-section-2 .u-btn-2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 0.875rem;
  font-weight: normal;
  margin: 10px auto 0;
  padding: 6px 22px 7px;
}

.u-section-2 .u-container-layout-3 {
  padding: 5px 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1rem;
  margin: 12px 0 0;
}

.u-section-2 .u-image-3 {
  height: 170px;
  width: 225px;
  margin: 23px auto 0;
}

.u-section-2 .u-btn-3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 0.875rem;
  font-weight: normal;
  margin: 10px auto 0;
  padding: 6px 22px 7px;
}

.u-section-2 .u-container-layout-4 {
  padding: 5px 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1rem;
  margin: 12px 0 0;
}

.u-section-2 .u-image-4 {
  height: 170px;
  width: 225px;
  margin: 23px auto 0;
}

.u-section-2 .u-btn-4 {
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 0.875rem;
  font-weight: normal;
  margin: 10px auto 0;
  padding: 6px 22px 7px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 293px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 3px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 280px;
  }

  .u-section-2 .u-image-1 {
    height: 150px;
    width: 200px;
    margin-top: 9px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 24px;
  }

  .u-section-2 .u-image-2 {
    height: 150px;
    width: 200px;
    margin-top: 9px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 24px;
  }

  .u-section-2 .u-image-3 {
    height: 150px;
    width: 200px;
    margin-top: 9px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 24px;
  }

  .u-section-2 .u-image-4 {
    height: 150px;
    width: 200px;
    margin-top: 9px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 24px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 610px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 589px;
    grid-template-columns: calc(50% - 10.5px) calc(50% - 10.5px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1195px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1155px;
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 11px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 5px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 16px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 11px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 5px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 16px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 11px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 5px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 16px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 11px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 5px;
  }

  .u-section-2 .u-image-4 {
    margin-top: 16px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1331px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 23px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1298px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 13px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 26px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 26px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 13px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 26px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 26px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 13px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 26px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 26px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 13px;
  }

  .u-section-2 .u-image-4 {
    margin-top: 26px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 26px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 307px;
}

.u-section-3 .u-list-1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.u-section-3 .u-repeater-1 {
  min-height: 287px;
  grid-template-columns: calc(25% - 15.75px) calc(25% - 15.75px) calc(25% - 15.75px) calc(25% - 15.75px);
  grid-gap: 21px 21px;
}

.u-section-3 .u-container-layout-1 {
  padding: 5px 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1rem;
  margin: 12px 0 0;
}

.u-section-3 .u-image-1 {
  height: 170px;
  width: 225px;
  margin: 24px 18px 0 auto;
}

.u-section-3 .u-btn-1 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: normal;
  margin: 10px auto 0;
  padding: 6px 22px 7px;
}

.u-section-3 .u-container-layout-2 {
  padding: 5px 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1rem;
  margin: 12px 0 0;
}

.u-section-3 .u-image-2 {
  height: 170px;
  width: 225px;
  margin: 24px 18px 0 auto;
}

.u-section-3 .u-btn-2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 0.875rem;
  font-weight: normal;
  margin: 10px auto 0;
  padding: 6px 22px 7px;
}

.u-section-3 .u-container-layout-3 {
  padding: 5px 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1rem;
  margin: 12px 0 0;
}

.u-section-3 .u-image-3 {
  height: 170px;
  width: 225px;
  margin: 24px 18px 0 auto;
}

.u-section-3 .u-btn-3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 0.875rem;
  font-weight: normal;
  margin: 10px auto 0;
  padding: 6px 22px 7px;
}

.u-section-3 .u-container-layout-4 {
  padding: 5px 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-size: 1rem;
  margin: 12px 0 0;
}

.u-section-3 .u-image-4 {
  height: 170px;
  width: 225px;
  margin: 24px 18px 0 auto;
}

.u-section-3 .u-btn-4 {
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 0.875rem;
  font-weight: normal;
  margin: 10px auto 0;
  padding: 6px 22px 7px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 293px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 237px;
    grid-template-columns: repeat(4, calc(25% - 15.75px));
  }

  .u-section-3 .u-image-1 {
    height: 150px;
    width: 200px;
    margin-right: auto;
  }

  .u-section-3 .u-image-2 {
    height: 150px;
    width: 200px;
    margin-right: auto;
  }

  .u-section-3 .u-image-3 {
    height: 150px;
    width: 200px;
    margin-right: auto;
  }

  .u-section-3 .u-image-4 {
    height: 150px;
    width: 200px;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 610px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 11px;
    margin-bottom: 11px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 589px;
    grid-template-columns: calc(50% - 10.5px) calc(50% - 10.5px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1165px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 1155px;
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 11px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-3 .u-image-1 {
    margin-top: 16px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 11px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 0;
  }

  .u-section-3 .u-image-2 {
    margin-top: 16px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 11px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 0;
  }

  .u-section-3 .u-image-3 {
    margin-top: 16px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 11px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 0;
  }

  .u-section-3 .u-image-4 {
    margin-top: 16px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1308px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 1298px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 13px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 26px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 26px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 13px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 26px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 26px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 13px;
  }

  .u-section-3 .u-image-3 {
    margin-top: 26px;
  }

  .u-section-3 .u-btn-3 {
    margin-top: 26px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 13px;
  }

  .u-section-3 .u-image-4 {
    margin-top: 26px;
  }

  .u-section-3 .u-btn-4 {
    margin-top: 26px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 307px;
}

.u-section-4 .u-list-1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.u-section-4 .u-repeater-1 {
  min-height: 287px;
  grid-template-columns: calc(25% - 15.75px) calc(25% - 15.75px) calc(25% - 15.75px) calc(25% - 15.75px);
  grid-gap: 21px 21px;
}

.u-section-4 .u-container-layout-1 {
  padding: 5px 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 1rem;
  margin: 12px 0 0;
}

.u-section-4 .u-image-1 {
  height: 170px;
  width: 226px;
  margin: 22px auto 0;
}

.u-section-4 .u-btn-1 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: normal;
  margin: 10px auto 0;
  padding: 6px 22px 7px;
}

.u-section-4 .u-container-layout-2 {
  padding: 5px 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1rem;
  margin: 12px 0 0;
}

.u-section-4 .u-image-2 {
  height: 170px;
  width: 226px;
  margin: 22px auto 0;
}

.u-section-4 .u-btn-2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 0.875rem;
  font-weight: normal;
  margin: 10px auto 0;
  padding: 6px 22px 7px;
}

.u-section-4 .u-container-layout-3 {
  padding: 5px 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 1rem;
  margin: 12px 0 0;
}

.u-section-4 .u-image-3 {
  height: 170px;
  width: 226px;
  margin: 22px auto 0;
}

.u-section-4 .u-btn-3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 0.875rem;
  font-weight: normal;
  margin: 10px auto 0;
  padding: 6px 22px 7px;
}

.u-section-4 .u-container-layout-4 {
  padding: 5px 0;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  font-size: 1rem;
  margin: 12px 0 0;
}

.u-section-4 .u-image-4 {
  height: 170px;
  width: 226px;
  margin: 22px auto 0;
}

.u-section-4 .u-btn-4 {
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 0.875rem;
  font-weight: normal;
  margin: 10px auto 0;
  padding: 6px 22px 7px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 293px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 237px;
    grid-template-columns: repeat(4, calc(25% - 15.75px));
  }

  .u-section-4 .u-image-1 {
    height: 150px;
    width: 200px;
  }

  .u-section-4 .u-image-2 {
    height: 150px;
    width: 200px;
  }

  .u-section-4 .u-image-3 {
    height: 150px;
    width: 200px;
  }

  .u-section-4 .u-image-4 {
    height: 150px;
    width: 200px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 610px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 11px;
    margin-bottom: 11px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 589px;
    grid-template-columns: calc(50% - 10.5px) calc(50% - 10.5px);
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-4 .u-container-layout-4 {
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1173px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 9px;
    margin-bottom: 9px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 1155px;
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 11px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 5px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 16px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 11px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 5px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 16px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-bottom: 11px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 5px;
  }

  .u-section-4 .u-image-3 {
    margin-top: 16px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-bottom: 11px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 5px;
  }

  .u-section-4 .u-image-4 {
    margin-top: 16px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1308px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 1298px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 13px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 26px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 26px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 13px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 26px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 26px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-bottom: 13px;
  }

  .u-section-4 .u-image-3 {
    margin-top: 26px;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 26px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-bottom: 13px;
  }

  .u-section-4 .u-image-4 {
    margin-top: 26px;
  }

  .u-section-4 .u-btn-4 {
    margin-top: 26px;
  }
}