 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("images/events-bg.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 608px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 500;
  width: 401px;
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  margin: 60px auto 0;
}

.u-section-1 .u-slider-1 {
  min-height: 470px;
  margin-top: 0;
  margin-bottom: 30px;
  width: 100%;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-carousel-item-1 {
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0 10px;
}

.u-section-1 .u-image-1 {
  width: 616px;
  height: 410px;
  margin: 10px auto 0 28px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: -346px 115px 0 672px;
}

.u-section-1 .u-text-3 {
  margin: 28px 22px 0 672px;
}

.u-section-1 .u-icon-1 {
  width: 28px;
  height: 28px;
  margin: 14px 440px 0 auto;
  padding: 0;
}

.u-section-1 .u-text-4 {
  margin: -24px 149px 0 706px;
}

.u-section-1 .u-icon-2 {
  width: 28px;
  height: 28px;
  margin: 16px 440px 0 auto;
  padding: 0;
}

.u-section-1 .u-text-5 {
  margin: -22px 132px 0 706px;
}

.u-section-1 .u-icon-3 {
  width: 28px;
  height: 28px;
  margin: 14px 440px 0 auto;
  padding: 0;
}

.u-section-1 .u-text-6 {
  margin: -27px 132px 0 706px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 20px auto 0 706px;
}

.u-section-1 .u-carousel-item-2 {
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-image-2 {
  width: 616px;
  height: 411px;
  margin: 10px auto 0 28px;
}

.u-section-1 .u-text-8 {
  font-size: 1.875rem;
  margin: -346px 115px 0 672px;
}

.u-section-1 .u-text-9 {
  margin: 28px 22px 0 672px;
}

.u-section-1 .u-icon-4 {
  width: 28px;
  height: 28px;
  margin: 14px 440px 0 auto;
  padding: 0;
}

.u-section-1 .u-text-10 {
  margin: -24px 149px 0 706px;
}

.u-section-1 .u-icon-5 {
  width: 28px;
  height: 28px;
  margin: 16px 440px 0 auto;
  padding: 0;
}

.u-section-1 .u-text-11 {
  margin: -22px 132px 0 706px;
}

.u-section-1 .u-icon-6 {
  width: 28px;
  height: 28px;
  margin: 14px 440px 0 auto;
  padding: 0;
}

.u-section-1 .u-text-12 {
  margin: -27px 132px 0 706px;
}

.u-section-1 .u-carousel-item-3 {
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-1 .u-image-3 {
  width: 616px;
  height: 410px;
  margin: 10px auto 0 28px;
}

.u-section-1 .u-text-13 {
  font-size: 1.875rem;
  margin: -346px 108px 0 679px;
}

.u-section-1 .u-text-14 {
  margin: 28px 22px 0 672px;
}

.u-section-1 .u-icon-7 {
  width: 28px;
  height: 28px;
  margin: 14px 440px 0 auto;
  padding: 0;
}

.u-section-1 .u-text-15 {
  margin: -24px 149px 0 706px;
}

.u-section-1 .u-icon-8 {
  width: 28px;
  height: 28px;
  margin: 16px 440px 0 auto;
  padding: 0;
}

.u-section-1 .u-text-16 {
  margin: -22px 132px 0 706px;
}

.u-section-1 .u-icon-9 {
  width: 28px;
  height: 28px;
  margin: 14px 440px 0 auto;
  padding: 0;
}

.u-section-1 .u-text-17 {
  margin: -27px 132px 0 706px;
}

.u-section-1 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: -58px;
  position: absolute;
  right: auto;
}

.u-section-1 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: auto;
  position: absolute;
  right: -58px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 611px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 473px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-image-1 {
    filter: brightness(0.6);
    width: 568px;
    margin-top: 38px;
    margin-left: 6px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 89px;
    margin-left: 600px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 24px;
    margin-right: 12px;
    margin-left: 600px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 19px;
    margin-right: 312px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -25px;
    margin-right: 0;
    margin-left: 634px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 13px;
    margin-right: 312px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: -29px;
    margin-right: 34px;
    margin-left: 634px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 16px;
    margin-right: 312px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-right: 0;
    margin-left: 634px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 606px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-image-2 {
    filter: brightness(0.6);
    width: 568px;
    margin-top: 38px;
    margin-left: 6px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-right: 89px;
    margin-left: 600px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: 24px;
    margin-right: 12px;
    margin-left: 600px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 19px;
    margin-right: 312px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: -25px;
    margin-right: 0;
    margin-left: 634px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: 13px;
    margin-right: 312px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: -29px;
    margin-right: 34px;
    margin-left: 634px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: 16px;
    margin-right: 312px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-right: 0;
    margin-left: 634px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-image-3 {
    filter: brightness(0.6);
    width: 568px;
    margin-top: 38px;
    margin-left: 6px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-right: 89px;
    margin-left: 600px;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-top: 24px;
    margin-right: 12px;
    margin-left: 600px;
  }

  .u-section-1 .u-icon-7 {
    margin-top: 19px;
    margin-right: 312px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-top: -25px;
    margin-right: 0;
    margin-left: 634px;
  }

  .u-section-1 .u-icon-8 {
    margin-top: 13px;
    margin-right: 312px;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-top: -29px;
    margin-right: 34px;
    margin-left: 634px;
  }

  .u-section-1 .u-icon-9 {
    margin-top: 16px;
    margin-right: 312px;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-right: 0;
    margin-left: 634px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 547px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 409px;
  }

  .u-section-1 .u-image-1 {
    width: 364px;
    height: 311px;
    margin-top: 35px;
    margin-left: 28px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -311px;
    margin-right: 26px;
    margin-left: 436px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 16px;
    margin-right: 11px;
    margin-left: 417px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 25px;
    margin-right: 293px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -26px;
    margin-left: 433px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 12px;
    margin-right: 293px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -25px;
    margin-right: 10px;
    margin-left: 434px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 11px;
    margin-right: 293px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 434px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 418px;
  }

  .u-section-1 .u-image-2 {
    width: 364px;
    height: 311px;
    margin-top: 35px;
    margin-left: 28px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -311px;
    margin-right: 26px;
    margin-left: 436px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 16px;
    margin-right: 11px;
    margin-left: 417px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 25px;
    margin-right: 293px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -26px;
    margin-left: 433px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: 12px;
    margin-right: 293px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -25px;
    margin-right: 10px;
    margin-left: 434px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: 11px;
    margin-right: 293px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 434px;
  }

  .u-section-1 .u-image-3 {
    width: 364px;
    height: 311px;
    margin-top: 35px;
    margin-left: 28px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -311px;
    margin-right: 26px;
    margin-left: 436px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 16px;
    margin-right: 11px;
    margin-left: 417px;
  }

  .u-section-1 .u-icon-7 {
    margin-top: 25px;
    margin-right: 293px;
  }

  .u-section-1 .u-text-15 {
    margin-top: -26px;
    margin-left: 433px;
  }

  .u-section-1 .u-icon-8 {
    margin-top: 12px;
    margin-right: 293px;
  }

  .u-section-1 .u-text-16 {
    margin-top: -25px;
    margin-right: 10px;
    margin-left: 434px;
  }

  .u-section-1 .u-icon-9 {
    margin-top: 11px;
    margin-right: 293px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 434px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 787px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 659px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
  }

  .u-section-1 .u-carousel-indicators-1 {
    top: auto;
    bottom: 20px;
  }

  .u-section-1 .u-image-1 {
    height: 306px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: 256px;
    margin-top: 31px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 31px;
    margin-left: 33px;
    margin-right: 33px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 16px;
    margin-right: auto;
    margin-left: 105px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -28px;
    margin-right: 105px;
    margin-left: 142px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: auto;
    margin-left: 105px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -27px;
    margin-right: 105px;
    margin-left: 142px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 13px;
    margin-right: auto;
    margin-left: 105px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 105px;
    margin-left: 142px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 238px;
  }

  .u-section-1 .u-image-2 {
    height: 306px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-8 {
    width: 256px;
    margin-top: 31px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-9 {
    margin-top: 31px;
    margin-left: 33px;
    margin-right: 33px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 16px;
    margin-right: auto;
    margin-left: 105px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -28px;
    margin-right: 105px;
    margin-left: 142px;
  }

  .u-section-1 .u-icon-5 {
    margin-right: auto;
    margin-left: 105px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -27px;
    margin-right: 105px;
    margin-left: 142px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: 13px;
    margin-right: auto;
    margin-left: 105px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 105px;
    margin-left: 142px;
  }

  .u-section-1 .u-image-3 {
    height: 306px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-13 {
    width: 256px;
    margin-top: 31px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-14 {
    margin-top: 31px;
    margin-left: 33px;
    margin-right: 33px;
  }

  .u-section-1 .u-icon-7 {
    margin-top: 16px;
    margin-right: auto;
    margin-left: 105px;
  }

  .u-section-1 .u-text-15 {
    margin-top: -28px;
    margin-right: 105px;
    margin-left: 142px;
  }

  .u-section-1 .u-icon-8 {
    margin-right: auto;
    margin-left: 105px;
  }

  .u-section-1 .u-text-16 {
    margin-top: -27px;
    margin-right: 105px;
    margin-left: 142px;
  }

  .u-section-1 .u-icon-9 {
    margin-top: 13px;
    margin-right: auto;
    margin-left: 105px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 105px;
    margin-left: 142px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 678px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 560px;
    width: auto;
  }

  .u-section-1 .u-carousel-indicators-1 {
    bottom: 31px;
  }

  .u-section-1 .u-image-1 {
    height: 231px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    width: 209px;
    margin-top: 21px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 21px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 13px;
    margin-left: 13px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -25px;
    margin-right: 0;
    margin-left: 50px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 13px;
    margin-left: 13px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 50px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 13px;
  }

  .u-section-1 .u-text-6 {
    margin-right: -3px;
    margin-left: 53px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 38px;
  }

  .u-section-1 .u-image-2 {
    height: 231px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.5rem;
    width: 209px;
    margin-top: 21px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 21px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 13px;
    margin-left: 13px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -25px;
    margin-right: 0;
    margin-left: 50px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: 13px;
    margin-left: 13px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
    margin-left: 50px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 13px;
  }

  .u-section-1 .u-text-12 {
    margin-right: -3px;
    margin-left: 53px;
  }

  .u-section-1 .u-image-3 {
    height: 231px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-13 {
    font-size: 1.5rem;
    width: 209px;
    margin-top: 21px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 21px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-1 .u-icon-7 {
    margin-top: 13px;
    margin-left: 13px;
  }

  .u-section-1 .u-text-15 {
    margin-top: -25px;
    margin-right: 0;
    margin-left: 50px;
  }

  .u-section-1 .u-icon-8 {
    margin-top: 13px;
    margin-left: 13px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
    margin-left: 50px;
  }

  .u-section-1 .u-icon-9 {
    margin-left: 13px;
  }

  .u-section-1 .u-text-17 {
    margin-right: -3px;
    margin-left: 53px;
  }
} .u-section-2 {
  min-height: 827px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  background-image: none;
  font-weight: 500;
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  width: 271px;
  margin: 20px auto 0;
}

.u-section-2 .u-gallery-1 {
  height: 703px;
  grid-gap: 17px 17px;
  width: 1218px;
  margin: 21px auto 50px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto;
  grid-gap: 5px 5px;
}

.u-section-2 .u-gallery-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --effect-scale: 1.25;
}

.u-section-2 .u-back-slide-1 {
  transition-duration: 1s;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --effect-scale: 1.25;
}

.u-section-2 .u-back-slide-2 {
  transition-duration: 1s;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --effect-scale: 1.25;
}

.u-section-2 .u-back-slide-3 {
  transition-duration: 1s;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --effect-scale: 1.25;
}

.u-section-2 .u-back-slide-4 {
  transition-duration: 1s;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --effect-scale: 1.25;
}

.u-section-2 .u-back-slide-5 {
  transition-duration: 1s;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-6 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --effect-scale: 1.25;
}

.u-section-2 .u-back-slide-6 {
  transition-duration: 1s;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-7 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --effect-scale: 1.25;
}

.u-section-2 .u-back-slide-7 {
  transition-duration: 1s;
}

.u-section-2 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-8 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --effect-scale: 1.25;
}

.u-section-2 .u-back-slide-8 {
  transition-duration: 1s;
}

.u-section-2 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-9 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --effect-scale: 1.25;
}

.u-section-2 .u-back-slide-9 {
  transition-duration: 1s;
}

.u-section-2 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-10 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --effect-scale: 1.25;
}

.u-section-2 .u-back-slide-10 {
  transition-duration: 1s;
}

.u-section-2 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-11 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --effect-scale: 1.25;
}

.u-section-2 .u-back-slide-11 {
  transition-duration: 1s;
}

.u-section-2 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-12 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --effect-scale: 1.25;
}

.u-section-2 .u-back-slide-12 {
  transition-duration: 1s;
}

.u-section-2 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 501px;
  }

  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 435px);
    margin-right: calc(((100% - 1140px) / 2) + 435px);
  }

  .u-section-2 .u-gallery-1 {
    width: 940px;
    height: 543px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(4, auto);
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1246px;
  }

  .u-section-2 .u-gallery-1 {
    width: 720px;
    height: 1664px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 5106px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-gallery-1 {
    width: 540px;
    height: 4992px;
    margin-top: 11px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 3210px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-gallery-1 {
    width: 340px;
    height: 3143px;
    margin-bottom: 20px;
  }
}