.u-section-1 .u-sheet-1 {
  min-height: 104px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  width: 123px;
  font-size: 2.25rem;
  margin: 26px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 78px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 13px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 58px;
  }

  .u-section-1 .u-text-1 {
    margin-bottom: 13px;
    font-size: 1.875rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 152px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  width: 902px;
  margin: 0 auto 2px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 150px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 29px;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 29px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 29px;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 159px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 19px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 19px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 19px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 143px;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 143px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.125rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 133px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 4px) calc(33.3333% - 4px) calc(33.3333% - 4px);
    grid-gap: 6px 6px;
    min-height: 99px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 152px;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  background-image: none;
  width: 900px;
  margin: 1px auto;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 150px;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 29px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 29px;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px 29px;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 153px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }

  .u-section-3 .u-text-3 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 166px;
  }

  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 163px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 156px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 3px;
    margin-bottom: 3px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 150px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 11px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.125rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 158px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 5.33333px) calc(33.3333% - 5.33333px) calc(33.3333% - 5.33333px);
    grid-gap: 8px 8px;
    min-height: 143px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 20px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 211px;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  width: 900px;
  margin: 1px auto 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 150px;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 29px;
}

.u-section-4 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-4 .u-text-1 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 29px;
}

.u-section-4 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px 29px;
}

.u-section-4 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 201px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
  }

  .u-section-4 .u-text-3 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 159px;
  }

  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 157px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 211px;
  }

  .u-section-4 .u-list-1 {
    height: auto;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 150px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.125rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 122px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 5.33333px) calc(33.3333% - 5.33333px) calc(33.3333% - 5.33333px);
    grid-gap: 8px 8px;
    min-height: 121px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 12px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 12px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-3 {
    padding-bottom: 12px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 468px;
}

.u-section-5 .u-text-1 {
  font-weight: 400;
  margin: 8px auto 0;
}

.u-section-5 .u-table-1 {
  width: 880px;
  margin: 20px auto 29px;
}

.u-block-b27f-10 {
  height: 46px;
}

.u-section-5 .u-table-cell-1 {
  font-weight: normal;
}

.u-section-5 .u-table-cell-2 {
  font-weight: normal;
}

.u-section-5 .u-table-cell-3 {
  font-weight: normal;
}

.u-section-5 .u-table-cell-4 {
  font-weight: normal;
}

.u-section-5 .u-table-cell-5 {
  font-weight: normal;
}

.u-section-5 .u-table-cell-6 {
  font-weight: normal;
}

.u-section-5 .u-table-cell-7 {
  font-weight: normal;
}

.u-section-5 .u-table-cell-8 {
  font-weight: normal;
}

.u-section-5 .u-table-cell-9 {
  font-weight: normal;
}

.u-section-5 .u-table-cell-10 {
  font-weight: normal;
}

.u-section-5 .u-table-cell-11 {
  font-weight: normal;
}

.u-section-5 .u-table-cell-12 {
  font-weight: normal;
}

.u-section-5 .u-table-cell-13 {
  font-weight: normal;
}

.u-section-5 .u-table-cell-14 {
  font-weight: normal;
}

.u-section-5 .u-table-cell-15 {
  font-weight: normal;
}

.u-section-5 .u-table-cell-16 {
  font-weight: normal;
}

.u-block-b27f-25 {
  height: 46px;
}

@media (max-width: 991px) {
  .u-section-5 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-table-1 {
    width: 540px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-table-1 {
    width: 340px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 228px;
}

.u-section-6 .u-text-1 {
  margin: 0;
}

.u-section-6 .u-table-1 {
  width: 880px;
  margin: 20px auto 30px;
}

.u-block-dbb6-10 {
  height: 46px;
}

.u-section-6 .u-table-cell-1 {
  font-weight: 700;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  font-weight: 400;
  padding: 0;
}

.u-section-6 .u-table-cell-2 {
  font-weight: normal;
}

.u-section-6 .u-table-cell-3 {
  font-weight: 700;
}

.u-section-6 .u-btn-2 {
  font-weight: 400;
  padding: 0;
}

.u-section-6 .u-table-cell-4 {
  font-weight: normal;
}

.u-section-6 .u-table-cell-5 {
  font-weight: 700;
}

.u-section-6 .u-btn-3 {
  font-weight: 400;
  padding: 0;
}

.u-section-6 .u-table-cell-6 {
  font-weight: normal;
}

.u-block-dbb6-25 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    width: 149px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-table-1 {
    width: 340px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 320px;
}

.u-section-7 .u-text-1 {
  width: 149px;
  margin: 0 auto;
}

.u-section-7 .u-table-1 {
  width: 880px;
  margin: 20px auto 30px;
}

.u-block-c8f3-10 {
  height: 46px;
}

.u-section-7 .u-table-cell-1 {
  font-weight: normal;
}

.u-section-7 .u-table-cell-2 {
  font-weight: normal;
}

.u-section-7 .u-table-cell-3 {
  font-weight: normal;
}

.u-section-7 .u-table-cell-4 {
  font-weight: normal;
}

.u-section-7 .u-table-cell-5 {
  font-weight: normal;
}

.u-section-7 .u-table-cell-6 {
  font-weight: normal;
}

.u-section-7 .u-table-cell-7 {
  font-weight: normal;
}

.u-section-7 .u-table-cell-8 {
  font-weight: normal;
}

.u-section-7 .u-table-cell-9 {
  font-weight: normal;
}

.u-section-7 .u-table-cell-10 {
  font-weight: normal;
}

.u-block-c8f3-25 {
  height: 46px;
}

@media (max-width: 991px) {
  .u-section-7 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 312px;
  }

  .u-section-7 .u-table-1 {
    width: 340px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 514px;
}

.u-section-8 .u-text-1 {
  font-weight: 400;
  margin: 7px auto 0;
}

.u-section-8 .u-table-1 {
  width: 880px;
  margin: 19px auto 34px;
}

.u-block-6e23-10 {
  height: 46px;
}

.u-section-8 .u-table-cell-1 {
  font-weight: normal;
}

.u-section-8 .u-table-cell-2 {
  font-weight: normal;
}

.u-section-8 .u-table-cell-3 {
  font-weight: normal;
}

.u-section-8 .u-table-cell-4 {
  font-weight: normal;
}

.u-section-8 .u-table-cell-5 {
  font-weight: normal;
}

.u-section-8 .u-table-cell-6 {
  font-weight: normal;
}

.u-section-8 .u-table-cell-7 {
  font-weight: normal;
}

.u-section-8 .u-table-cell-8 {
  font-weight: normal;
}

.u-section-8 .u-table-cell-9 {
  font-weight: normal;
}

.u-section-8 .u-table-cell-10 {
  font-weight: normal;
}

.u-section-8 .u-table-cell-11 {
  font-weight: normal;
}

.u-section-8 .u-table-cell-12 {
  font-weight: normal;
}

.u-section-8 .u-table-cell-13 {
  font-weight: normal;
}

.u-section-8 .u-table-cell-14 {
  font-weight: normal;
}

.u-section-8 .u-table-cell-15 {
  font-weight: normal;
}

.u-section-8 .u-table-cell-16 {
  font-weight: normal;
}

.u-section-8 .u-table-cell-17 {
  font-weight: normal;
}

.u-section-8 .u-table-cell-18 {
  font-weight: normal;
}

.u-block-6e23-25 {
  height: 46px;
}

@media (max-width: 991px) {
  .u-section-8 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-table-1 {
    width: 540px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-8 .u-table-1 {
    width: 340px;
    margin-bottom: 30px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 931px;
}

.u-section-9 .u-text-1 {
  font-weight: 400;
  margin: 7px auto 0;
}

.u-section-9 .u-table-1 {
  width: 880px;
  margin: 20px auto 0;
}

.u-block-d6db-10 {
  height: 46px;
}

.u-section-9 .u-table-cell-1 {
  font-weight: normal;
}

.u-section-9 .u-table-cell-2 {
  font-weight: normal;
}

.u-section-9 .u-table-cell-3 {
  font-weight: normal;
}

.u-section-9 .u-table-cell-4 {
  font-weight: normal;
}

.u-section-9 .u-table-cell-5 {
  font-weight: normal;
}

.u-section-9 .u-table-cell-6 {
  font-weight: normal;
}

.u-section-9 .u-table-cell-7 {
  font-weight: normal;
}

.u-section-9 .u-table-cell-8 {
  font-weight: normal;
}

.u-section-9 .u-table-cell-9 {
  font-weight: normal;
}

.u-section-9 .u-table-cell-10 {
  font-weight: normal;
}

.u-section-9 .u-table-cell-11 {
  font-weight: normal;
}

.u-section-9 .u-table-cell-12 {
  font-weight: normal;
}

.u-section-9 .u-table-cell-13 {
  font-weight: normal;
}

.u-section-9 .u-table-cell-14 {
  font-weight: normal;
}

.u-section-9 .u-table-cell-15 {
  font-weight: normal;
}

.u-section-9 .u-table-cell-16 {
  font-weight: normal;
}

.u-section-9 .u-table-cell-17 {
  font-weight: normal;
}

.u-section-9 .u-table-cell-18 {
  font-weight: normal;
}

.u-section-9 .u-table-cell-19 {
  font-weight: normal;
}

.u-section-9 .u-table-cell-20 {
  font-weight: normal;
}

.u-section-9 .u-table-cell-21 {
  font-weight: normal;
}

.u-section-9 .u-table-cell-22 {
  font-weight: normal;
}

.u-section-9 .u-table-cell-23 {
  font-weight: normal;
}

.u-section-9 .u-table-cell-24 {
  font-weight: normal;
}

.u-section-9 .u-table-cell-25 {
  font-weight: normal;
}

.u-section-9 .u-table-cell-26 {
  font-weight: normal;
}

.u-section-9 .u-table-cell-27 {
  font-weight: normal;
}

.u-section-9 .u-table-cell-28 {
  font-weight: normal;
}

.u-section-9 .u-table-cell-29 {
  font-weight: normal;
}

.u-section-9 .u-table-cell-30 {
  font-weight: normal;
}

.u-block-d6db-25 {
  height: 46px;
}

.u-section-9 .u-table-2 {
  width: 880px;
  margin: -1px auto 30px;
}

.u-block-d6db-82 {
  height: 46px;
}

.u-section-9 .u-table-cell-31 {
  font-weight: normal;
}

.u-section-9 .u-table-cell-32 {
  font-weight: normal;
}

.u-section-9 .u-table-cell-33 {
  font-weight: normal;
}

.u-section-9 .u-table-cell-34 {
  font-weight: normal;
}

.u-section-9 .u-table-cell-35 {
  font-weight: normal;
}

.u-section-9 .u-table-cell-36 {
  font-weight: normal;
}

.u-block-d6db-96 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-table-2 {
    height: 142px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-table-1 {
    width: 720px;
  }

  .u-section-9 .u-table-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-table-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-9 .u-table-2 {
    width: 540px;
    margin-top: 2px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 942px;
  }

  .u-section-9 .u-table-1 {
    width: 340px;
  }

  .u-section-9 .u-table-2 {
    margin-top: -1px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 514px;
}

.u-section-10 .u-text-1 {
  font-weight: 400;
  margin: 7px auto 0;
}

.u-section-10 .u-table-1 {
  width: 880px;
  margin: 20px auto 30px;
}

.u-block-8ebb-10 {
  height: 46px;
}

.u-section-10 .u-table-cell-1 {
  font-weight: normal;
}

.u-section-10 .u-table-cell-2 {
  font-weight: normal;
}

.u-section-10 .u-table-cell-3 {
  font-weight: normal;
}

.u-section-10 .u-table-cell-4 {
  font-weight: normal;
}

.u-section-10 .u-table-cell-5 {
  font-weight: normal;
}

.u-section-10 .u-table-cell-6 {
  font-weight: normal;
}

.u-section-10 .u-table-cell-7 {
  font-weight: normal;
}

.u-section-10 .u-table-cell-8 {
  font-weight: normal;
}

.u-section-10 .u-table-cell-9 {
  font-weight: normal;
}

.u-section-10 .u-table-cell-10 {
  font-weight: normal;
}

.u-section-10 .u-table-cell-11 {
  font-weight: normal;
}

.u-section-10 .u-table-cell-12 {
  font-weight: normal;
}

.u-section-10 .u-table-cell-13 {
  font-weight: normal;
}

.u-section-10 .u-table-cell-14 {
  font-weight: normal;
}

.u-section-10 .u-table-cell-15 {
  font-weight: normal;
}

.u-section-10 .u-table-cell-16 {
  font-weight: normal;
}

.u-section-10 .u-table-cell-17 {
  font-weight: normal;
}

.u-section-10 .u-table-cell-18 {
  font-weight: normal;
}

.u-block-8ebb-25 {
  height: 46px;
}

@media (max-width: 991px) {
  .u-section-10 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-table-1 {
    width: 540px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-10 .u-table-1 {
    width: 340px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 514px;
}

.u-section-11 .u-text-1 {
  font-weight: 400;
  margin: 7px auto 0;
}

.u-section-11 .u-table-1 {
  width: 880px;
  margin: 20px auto 34px;
}

.u-block-7789-10 {
  height: 46px;
}

.u-section-11 .u-table-cell-1 {
  font-weight: normal;
}

.u-section-11 .u-table-cell-2 {
  font-weight: normal;
}

.u-section-11 .u-table-cell-3 {
  font-weight: normal;
}

.u-section-11 .u-table-cell-4 {
  font-weight: normal;
}

.u-section-11 .u-table-cell-5 {
  font-weight: normal;
}

.u-section-11 .u-table-cell-6 {
  font-weight: normal;
}

.u-section-11 .u-table-cell-7 {
  font-weight: normal;
}

.u-section-11 .u-table-cell-8 {
  font-weight: normal;
}

.u-section-11 .u-table-cell-9 {
  font-weight: normal;
}

.u-section-11 .u-table-cell-10 {
  font-weight: normal;
}

.u-section-11 .u-table-cell-11 {
  font-weight: normal;
}

.u-section-11 .u-table-cell-12 {
  font-weight: normal;
}

.u-section-11 .u-table-cell-13 {
  font-weight: normal;
}

.u-section-11 .u-table-cell-14 {
  font-weight: normal;
}

.u-section-11 .u-table-cell-15 {
  font-weight: normal;
}

.u-section-11 .u-table-cell-16 {
  font-weight: normal;
}

.u-section-11 .u-table-cell-17 {
  font-weight: normal;
}

.u-section-11 .u-table-cell-18 {
  font-weight: normal;
}

.u-block-7789-25 {
  height: 46px;
}

@media (max-width: 991px) {
  .u-section-11 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-table-1 {
    width: 540px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-11 .u-table-1 {
    width: 340px;
    margin-bottom: 30px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 1302px;
}

.u-section-12 .u-text-1 {
  font-weight: 400;
  margin: 7px auto 0;
}

.u-section-12 .u-table-1 {
  width: 880px;
  margin: 20px auto 0;
}

.u-block-2fac-10 {
  height: 46px;
}

.u-section-12 .u-table-cell-1 {
  font-weight: normal;
}

.u-section-12 .u-table-cell-2 {
  font-weight: normal;
}

.u-section-12 .u-table-cell-3 {
  font-weight: normal;
}

.u-section-12 .u-table-cell-4 {
  font-weight: normal;
}

.u-section-12 .u-table-cell-5 {
  font-weight: normal;
}

.u-section-12 .u-table-cell-6 {
  font-weight: normal;
}

.u-section-12 .u-table-cell-7 {
  font-weight: normal;
}

.u-section-12 .u-table-cell-8 {
  font-weight: normal;
}

.u-section-12 .u-table-cell-9 {
  font-weight: normal;
}

.u-section-12 .u-table-cell-10 {
  font-weight: normal;
}

.u-section-12 .u-table-cell-11 {
  font-weight: normal;
}

.u-section-12 .u-table-cell-12 {
  font-weight: normal;
}

.u-section-12 .u-table-cell-13 {
  font-weight: normal;
}

.u-section-12 .u-table-cell-14 {
  font-weight: normal;
}

.u-section-12 .u-table-cell-15 {
  font-weight: normal;
}

.u-section-12 .u-table-cell-16 {
  font-weight: normal;
}

.u-section-12 .u-table-cell-17 {
  font-weight: normal;
}

.u-section-12 .u-table-cell-18 {
  font-weight: normal;
}

.u-section-12 .u-table-cell-19 {
  font-weight: normal;
}

.u-section-12 .u-table-cell-20 {
  font-weight: normal;
}

.u-section-12 .u-table-cell-21 {
  font-weight: normal;
}

.u-section-12 .u-table-cell-22 {
  font-weight: normal;
}

.u-section-12 .u-table-cell-23 {
  font-weight: normal;
}

.u-section-12 .u-table-cell-24 {
  font-weight: normal;
}

.u-section-12 .u-table-cell-25 {
  font-weight: normal;
}

.u-section-12 .u-table-cell-26 {
  font-weight: normal;
}

.u-block-2fac-25 {
  height: 46px;
}

.u-section-12 .u-table-2 {
  width: 880px;
  margin: 0 auto 37px;
}

.u-block-2fac-78 {
  height: 46px;
}

.u-section-12 .u-table-cell-27 {
  font-weight: normal;
}

.u-section-12 .u-table-cell-28 {
  font-weight: normal;
}

.u-section-12 .u-table-cell-29 {
  font-weight: normal;
}

.u-section-12 .u-table-cell-30 {
  font-weight: normal;
}

.u-section-12 .u-table-cell-31 {
  font-weight: normal;
}

.u-section-12 .u-table-cell-32 {
  font-weight: normal;
}

.u-section-12 .u-table-cell-33 {
  font-weight: normal;
}

.u-section-12 .u-table-cell-34 {
  font-weight: normal;
}

.u-section-12 .u-table-cell-35 {
  font-weight: normal;
}

.u-section-12 .u-table-cell-36 {
  font-weight: normal;
}

.u-section-12 .u-table-cell-37 {
  font-weight: normal;
}

.u-section-12 .u-table-cell-38 {
  font-weight: normal;
}

.u-section-12 .u-table-cell-39 {
  font-weight: normal;
}

.u-section-12 .u-table-cell-40 {
  font-weight: normal;
}

.u-section-12 .u-table-cell-41 {
  font-weight: normal;
}

.u-section-12 .u-table-cell-42 {
  font-weight: normal;
}

.u-section-12 .u-table-cell-43 {
  font-weight: normal;
}

.u-section-12 .u-table-cell-44 {
  font-weight: normal;
}

.u-section-12 .u-table-cell-45 {
  font-weight: normal;
}

.u-section-12 .u-table-cell-46 {
  font-weight: normal;
}

.u-section-12 .u-table-cell-47 {
  font-weight: normal;
}

.u-section-12 .u-table-cell-48 {
  font-weight: normal;
}

.u-section-12 .u-table-cell-49 {
  font-weight: normal;
}

.u-section-12 .u-table-cell-50 {
  font-weight: normal;
}

.u-section-12 .u-table-cell-51 {
  font-weight: normal;
}

.u-section-12 .u-table-cell-52 {
  font-weight: normal;
}

.u-block-2fac-115 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 1303px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-table-1 {
    width: 720px;
  }

  .u-section-12 .u-table-2 {
    width: 720px;
    height: 605px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-table-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-12 .u-table-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 1289px;
  }

  .u-section-12 .u-table-1 {
    width: 340px;
  }

  .u-section-12 .u-table-2 {
    margin-bottom: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 652px;
}

.u-section-13 .u-text-1 {
  font-weight: 700;
  margin: 7px auto 0;
}

.u-section-13 .u-table-1 {
  width: 880px;
  margin: 20px auto 30px;
}

.u-block-f1cd-10 {
  height: 46px;
}

.u-section-13 .u-table-cell-1 {
  font-weight: normal;
}

.u-section-13 .u-table-cell-2 {
  font-weight: normal;
}

.u-section-13 .u-table-cell-3 {
  font-weight: normal;
}

.u-section-13 .u-table-cell-4 {
  font-weight: normal;
}

.u-section-13 .u-table-cell-5 {
  font-weight: normal;
}

.u-section-13 .u-table-cell-6 {
  font-weight: normal;
}

.u-section-13 .u-table-cell-7 {
  font-weight: normal;
}

.u-section-13 .u-table-cell-8 {
  font-weight: normal;
}

.u-section-13 .u-table-cell-9 {
  font-weight: normal;
}

.u-section-13 .u-table-cell-10 {
  font-weight: normal;
}

.u-section-13 .u-table-cell-11 {
  font-weight: normal;
}

.u-section-13 .u-table-cell-12 {
  font-weight: normal;
}

.u-section-13 .u-table-cell-13 {
  font-weight: normal;
}

.u-section-13 .u-table-cell-14 {
  font-weight: normal;
}

.u-section-13 .u-table-cell-15 {
  font-weight: normal;
}

.u-section-13 .u-table-cell-16 {
  font-weight: normal;
}

.u-section-13 .u-table-cell-17 {
  font-weight: normal;
}

.u-section-13 .u-table-cell-18 {
  font-weight: normal;
}

.u-section-13 .u-table-cell-19 {
  font-weight: normal;
}

.u-section-13 .u-table-cell-20 {
  font-weight: normal;
}

.u-section-13 .u-table-cell-21 {
  font-weight: normal;
}

.u-section-13 .u-table-cell-22 {
  font-weight: normal;
}

.u-section-13 .u-table-cell-23 {
  font-weight: normal;
}

.u-section-13 .u-table-cell-24 {
  font-weight: normal;
}

.u-block-f1cd-25 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 654px;
  }

  .u-section-13 .u-text-1 {
    width: 100px;
    margin-top: 11px;
  }

  .u-section-13 .u-table-1 {
    margin-top: 18px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-13 .u-text-1 {
    margin-top: 0;
  }

  .u-section-13 .u-table-1 {
    width: 540px;
    margin-right: 0;
    margin-bottom: 27px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 629px;
  }

  .u-section-13 .u-table-1 {
    width: 340px;
    margin-bottom: 30px;
  }
}.u-section-14 .u-sheet-1 {
  min-height: 468px;
}

.u-section-14 .u-text-1 {
  font-weight: 400;
  margin: 7px auto 0;
}

.u-section-14 .u-table-1 {
  width: 880px;
  margin: 19px auto 32px;
}

.u-block-4075-10 {
  height: 46px;
}

.u-section-14 .u-table-cell-1 {
  font-weight: normal;
}

.u-section-14 .u-table-cell-2 {
  font-weight: normal;
}

.u-section-14 .u-table-cell-3 {
  font-weight: normal;
}

.u-section-14 .u-table-cell-4 {
  font-weight: normal;
}

.u-section-14 .u-table-cell-5 {
  font-weight: normal;
}

.u-section-14 .u-table-cell-6 {
  font-weight: normal;
}

.u-section-14 .u-table-cell-7 {
  font-weight: normal;
}

.u-section-14 .u-table-cell-8 {
  font-weight: normal;
}

.u-section-14 .u-table-cell-9 {
  font-weight: normal;
}

.u-section-14 .u-table-cell-10 {
  font-weight: normal;
}

.u-section-14 .u-table-cell-11 {
  font-weight: normal;
}

.u-section-14 .u-table-cell-12 {
  font-weight: normal;
}

.u-section-14 .u-table-cell-13 {
  font-weight: normal;
}

.u-section-14 .u-table-cell-14 {
  font-weight: normal;
}

.u-section-14 .u-table-cell-15 {
  font-weight: normal;
}

.u-section-14 .u-table-cell-16 {
  font-weight: normal;
}

.u-block-4075-25 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-14 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-14 .u-text-1 {
    width: 105px;
    margin-top: 0;
  }

  .u-section-14 .u-table-1 {
    margin-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-table-1 {
    width: 540px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-table-1 {
    width: 340px;
  }
}