.u-section-1 .u-sheet-1 {
  min-height: 104px;
}

.u-section-1 .u-text-1 {
  width: 123px;
  font-weight: 700;
  font-size: 3rem;
  margin: 26px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 78px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 13px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 65px;
  }

  .u-section-1 .u-text-1 {
    margin-bottom: 13px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 58px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 152px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  width: 1130px;
  margin: 0 auto 2px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px);
  grid-gap: 10px 10px;
  min-height: 150px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 29px;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 6px auto 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 29px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 6px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 29px;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 6px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px 29px;
}

.u-section-2 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 6px auto 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 20px 29px;
}

.u-section-2 .u-icon-5 {
  height: 64px;
  width: 64px;
  margin: 6px auto 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 159px;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 125px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 19px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 19px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 19px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 19px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 19px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 141px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 140px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
  }

  .u-section-2 .u-btn-1 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }

  .u-section-2 .u-btn-2 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
  }

  .u-section-2 .u-btn-3 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-4 {
    width: auto;
  }

  .u-section-2 .u-btn-4 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-5 {
    width: auto;
  }

  .u-section-2 .u-btn-5 {
    font-size: 1.125rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 143px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 141px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.125rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 121px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 10px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-gap: 6px 6px;
    min-height: 110px;
    grid-template-columns: calc(20% - 4.8px) calc(20% - 4.8px) calc(20% - 4.8px) calc(20% - 4.8px) calc(20% - 4.8px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-btn-1 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-btn-2 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-btn-3 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 0;
  }

  .u-section-2 .u-text-4 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-btn-4 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 0;
  }

  .u-section-2 .u-text-5 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-btn-5 {
    font-size: 0.75rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 181px;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  width: 1127px;
  margin: 1px auto 30px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px);
  grid-gap: 10px 10px;
  min-height: 150px;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 29px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 4px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 29px;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 4px 0 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px 29px;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 4px 0 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 20px 29px;
}

.u-section-3 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 4px 0 0;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 20px 29px;
}

.u-section-3 .u-icon-5 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 4px 0 0;
}

.u-section-3 .u-btn-5 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 154px;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
    margin-bottom: 0;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 125px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }

  .u-section-3 .u-text-3 {
    width: auto;
  }

  .u-section-3 .u-text-4 {
    width: auto;
  }

  .u-section-3 .u-text-5 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 141px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 1px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 140px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-3 .u-text-1 {
    font-weight: 700;
  }

  .u-section-3 .u-btn-1 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-3 .u-text-2 {
    font-weight: 700;
  }

  .u-section-3 .u-btn-2 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-3 .u-text-3 {
    font-weight: 700;
  }

  .u-section-3 .u-btn-3 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-3 .u-text-4 {
    font-weight: 700;
  }

  .u-section-3 .u-btn-4 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-3 .u-text-5 {
    font-weight: 700;
  }

  .u-section-3 .u-btn-5 {
    font-size: 1.125rem;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.125rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    margin-bottom: 20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(20% - 6.4px) calc(20% - 6.4px) calc(20% - 6.4px) calc(20% - 6.4px) calc(20% - 6.4px);
    grid-gap: 8px 8px;
    min-height: 120px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 12px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1rem;
    margin-top: 0;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-3 .u-btn-1 {
    font-size: 0.75rem;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 12px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
    margin-top: 0;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-3 .u-btn-2 {
    font-size: 0.75rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 12px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
    margin-top: 0;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-3 .u-btn-3 {
    font-size: 0.75rem;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 12px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1rem;
    margin-top: 0;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-3 .u-btn-4 {
    font-size: 0.75rem;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 12px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1rem;
    margin-top: 0;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-3 .u-btn-5 {
    font-size: 0.75rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 383px;
}

.u-section-4 .u-text-1 {
  background-image: none;
  width: 175px;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  line-height: 2.2;
  font-size: 1.25rem;
  margin: 4px 613px 0 150px;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  line-height: 2.2;
  margin: -308px 150px 29px 868px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    margin-right: 513px;
    margin-left: 50px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-right: 74px;
    margin-left: 744px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 298px;
    margin-left: 45px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 570px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    margin-right: 163px;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 407px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 286px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 10px;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    font-size: 0.875rem;
    margin-top: -210px;
    margin-bottom: 39px;
    margin-left: 247px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 220px;
}

.u-section-5 .u-text-1 {
  background-image: none;
  font-size: 2.25rem;
  font-weight: 700;
  width: 175px;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2.2;
  background-image: none;
  margin: 15px 150px 0 868px;
}

.u-section-5 .u-text-3 {
  line-height: 2.2;
  font-size: 1.25rem;
  margin: -132px 570px 30px 150px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    width: auto;
    margin-right: 74px;
    margin-left: 744px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 470px;
    margin-left: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 570px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-right: 255px;
    margin-left: 45px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 218px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 13px;
    margin-left: 407px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 120px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 138px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 0;
    margin-left: 247px;
  }

  .u-section-5 .u-text-3 {
    font-size: 0.875rem;
    margin-top: -90px;
    margin-right: 146px;
    margin-bottom: 20px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 249px;
}

.u-section-6 .u-text-1 {
  background-image: none;
  font-size: 2.25rem;
  width: 130px;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2.2;
  margin: 0 150px 0 868px;
}

.u-section-6 .u-text-3 {
  font-size: 1.25rem;
  background-image: none;
  line-height: 2.2;
  margin: -176px 570px 30px 150px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: -6px;
    margin-right: 74px;
    margin-left: 744px;
  }

  .u-section-6 .u-text-3 {
    margin-top: -169px;
    margin-right: 470px;
    margin-left: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 250px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 1px;
    margin-right: 0;
    margin-left: 570px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: -176px;
    margin-right: 255px;
    margin-left: 45px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-2 {
    margin-top: 0;
    margin-left: 407px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 120px;
    margin-bottom: 31px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 185px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 12px;
    margin-left: 247px;
  }

  .u-section-6 .u-text-3 {
    font-size: 0.875rem;
    margin-top: -120px;
    margin-right: 155px;
    margin-bottom: 25px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 478px;
}

.u-section-7 .u-text-1 {
  background-image: none;
  font-size: 2.25rem;
  font-weight: 700;
  width: 306px;
  margin: 0 auto;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2.2;
  margin: 10px 148px 0 870px;
}

.u-section-7 .u-text-3 {
  font-size: 1.25rem;
  line-height: 2.2;
  background-image: none;
  margin: -396px 568px 29px 150px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-2 {
    width: auto;
    margin-right: 74px;
    margin-left: 744px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 468px;
    margin-left: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-2 {
    margin-right: 0;
    margin-left: 570px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-right: 253px;
    margin-left: 45px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-2 {
    margin-left: 407px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 118px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 326px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 8px;
    margin-left: 247px;
  }

  .u-section-7 .u-text-3 {
    font-size: 0.875rem;
    margin-top: -270px;
    margin-right: 133px;
    margin-bottom: 20px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 937px;
}

.u-section-8 .u-text-1 {
  background-image: none;
  font-size: 2.25rem;
  width: 133px;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-8 .u-text-2 {
  width: 740px;
  font-weight: normal;
  margin: 23px auto 0;
}

.u-section-8 .u-text-3 {
  font-size: 1.25rem;
  line-height: 2.2;
  margin: 18px 150px 0 865px;
}

.u-section-8 .u-text-4 {
  font-size: 1.25rem;
  line-height: 2.2;
  background-image: none;
  margin: -780px 563px 30px 150px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-3 {
    width: auto;
    margin-right: 74px;
    margin-left: 741px;
  }

  .u-section-8 .u-text-4 {
    width: auto;
    margin: -792px 439px 42px 74px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-2 {
    width: 720px;
  }

  .u-section-8 .u-text-3 {
    margin-top: 30px;
    margin-right: 1px;
    margin-left: 569px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 248px;
    margin-left: 45px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 956px;
  }

  .u-section-8 .u-text-2 {
    width: 540px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 0;
    margin-left: 407px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 113px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 678px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-8 .u-text-2 {
    width: 340px;
  }

  .u-section-8 .u-text-3 {
    font-size: 0.875rem;
    margin-top: 28px;
    margin-right: -1px;
    margin-left: 248px;
  }

  .u-section-8 .u-text-4 {
    font-size: 0.875rem;
    margin-top: -540px;
    margin-right: 143px;
    margin-bottom: 21px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 489px;
}

.u-section-9 .u-text-1 {
  background-image: none;
  font-size: 2.25rem;
  width: 149px;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-9 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2.2;
  margin: 30px 150px 0 866px;
}

.u-section-9 .u-text-3 {
  font-size: 1.25rem;
  background-image: none;
  line-height: 2.2;
  margin: -396px 563px 20px 150px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 494px;
  }

  .u-section-9 .u-text-1 {
    width: 273px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-top: 31px;
    margin-right: 74px;
    margin-left: 743px;
  }

  .u-section-9 .u-text-3 {
    width: auto;
    margin-right: 489px;
    margin-bottom: 24px;
    margin-left: 74px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 481px;
  }

  .u-section-9 .u-text-2 {
    margin-top: 12px;
    margin-right: 0;
    margin-left: 570px;
  }

  .u-section-9 .u-text-3 {
    margin-right: 338px;
    margin-bottom: 30px;
    margin-left: 45px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-9 .u-text-2 {
    margin-top: 25px;
    margin-left: 407px;
  }

  .u-section-9 .u-text-3 {
    margin-right: 203px;
    margin-bottom: 44px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 326px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.5rem;
    width: 272px;
  }

  .u-section-9 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 9px;
    margin-left: 251px;
  }

  .u-section-9 .u-text-3 {
    font-size: 0.875rem;
    margin-top: -270px;
    margin-right: 121px;
    margin-bottom: 20px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 487px;
}

.u-section-10 .u-text-1 {
  background-image: none;
  font-size: 2.25rem;
  width: 195px;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-10 .u-text-2 {
  font-size: 1.25rem;
  background-image: none;
  line-height: 2.2;
  margin: 21px 561px 0 150px;
}

.u-section-10 .u-text-3 {
  font-size: 1.25rem;
  line-height: 2.2;
  margin: -396px 150px 28px 868px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-10 .u-text-1 {
    width: 273px;
  }

  .u-section-10 .u-text-2 {
    width: auto;
    margin-top: 30px;
    margin-right: 493px;
    margin-left: 74px;
  }

  .u-section-10 .u-text-3 {
    width: auto;
    margin-right: 74px;
    margin-bottom: 30px;
    margin-left: 743px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 458px;
  }

  .u-section-10 .u-text-2 {
    margin-top: 0;
    margin-right: 290px;
    margin-left: 41px;
  }

  .u-section-10 .u-text-3 {
    margin-right: 0;
    margin-bottom: 19px;
    margin-left: 570px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 479px;
  }

  .u-section-10 .u-text-2 {
    margin-top: 12px;
    margin-right: 284px;
    margin-left: 0;
  }

  .u-section-10 .u-text-3 {
    margin-bottom: 28px;
    margin-left: 407px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-10 .u-text-1 {
    font-size: 1.5rem;
    width: 272px;
  }

  .u-section-10 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 6px;
    margin-right: 121px;
  }

  .u-section-10 .u-text-3 {
    font-size: 0.875rem;
    margin-top: -270px;
    margin-bottom: 20px;
    margin-left: 253px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 611px;
}

.u-section-11 .u-text-1 {
  background-image: none;
  font-size: 2.25rem;
  width: 195px;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-11 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2.2;
  margin: 24px 150px 0 868px;
}

.u-section-11 .u-text-3 {
  background-image: none;
  font-size: 1.25rem;
  line-height: 2.2;
  margin: -484px 570px 60px 150px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 602px;
  }

  .u-section-11 .u-text-1 {
    width: 273px;
  }

  .u-section-11 .u-text-2 {
    width: auto;
    margin-top: 16px;
    margin-right: 74px;
    margin-left: 744px;
  }

  .u-section-11 .u-text-3 {
    width: auto;
    margin-top: -485px;
    margin-right: 489px;
    margin-left: 74px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 572px;
  }

  .u-section-11 .u-text-2 {
    margin-right: 0;
    margin-left: 570px;
  }

  .u-section-11 .u-text-3 {
    margin-right: 343px;
    margin-bottom: 30px;
    margin-left: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 567px;
  }

  .u-section-11 .u-text-2 {
    margin-top: 24px;
    margin-left: 407px;
  }

  .u-section-11 .u-text-3 {
    margin: -487px 203px 19px 0;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-11 .u-text-1 {
    font-size: 1.5rem;
    width: 272px;
  }

  .u-section-11 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 13px;
    margin-left: 253px;
  }

  .u-section-11 .u-text-3 {
    font-size: 0.875rem;
    margin-top: -330px;
    margin-right: 128px;
    margin-bottom: 27px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 575px;
}

.u-section-12 .u-text-1 {
  background-image: none;
  font-size: 2.25rem;
  width: 195px;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-12 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2.2;
  margin: 24px 150px 0 868px;
}

.u-section-12 .u-text-3 {
  font-size: 1.25rem;
  background-image: none;
  line-height: 2.2;
  margin: -484px 563px 24px 150px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-text-1 {
    width: 273px;
  }

  .u-section-12 .u-text-2 {
    width: auto;
    margin-top: 23px;
    margin-right: 74px;
    margin-left: 744px;
  }

  .u-section-12 .u-text-3 {
    width: auto;
    margin-right: 489px;
    margin-bottom: 25px;
    margin-left: 74px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-text-2 {
    margin-right: 0;
    margin-left: 570px;
  }

  .u-section-12 .u-text-3 {
    margin-right: 293px;
    margin-left: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-12 .u-text-2 {
    margin-top: 20px;
    margin-left: 407px;
  }

  .u-section-12 .u-text-3 {
    margin-right: 153px;
    margin-bottom: 24px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-12 .u-text-1 {
    font-size: 1.5rem;
    width: 272px;
  }

  .u-section-12 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 12px;
    margin-left: 253px;
  }

  .u-section-12 .u-text-3 {
    font-size: 0.875rem;
    margin-top: -332px;
    margin-right: 0;
    margin-bottom: 14px;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 479px;
}

.u-section-13 .u-text-1 {
  background-image: none;
  font-size: 2.25rem;
  font-weight: 700;
  width: 227px;
  margin: 0 auto;
}

.u-section-13 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2.2;
  margin: 24px 146px 0 872px;
}

.u-section-13 .u-text-3 {
  background-image: none;
  line-height: 2.2;
  font-size: 1.25rem;
  margin: -352px 563px 60px 150px;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-13 .u-text-1 {
    width: 273px;
  }

  .u-section-13 .u-text-2 {
    width: auto;
    margin-top: 11px;
    margin-right: 74px;
    margin-left: 744px;
  }

  .u-section-13 .u-text-3 {
    width: auto;
    margin-right: 489px;
    margin-bottom: 30px;
    margin-left: 74px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-13 .u-text-1 {
    margin-top: 12px;
  }

  .u-section-13 .u-text-2 {
    margin-right: 0;
    margin-left: 570px;
  }

  .u-section-13 .u-text-3 {
    margin-right: 297px;
    margin-bottom: 44px;
    margin-left: 36px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 453px;
  }

  .u-section-13 .u-text-1 {
    margin-top: 0;
  }

  .u-section-13 .u-text-2 {
    margin-top: 29px;
    margin-left: 407px;
  }

  .u-section-13 .u-text-3 {
    margin-right: 153px;
    margin-bottom: 30px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 317px;
  }

  .u-section-13 .u-text-1 {
    font-size: 1.5rem;
    width: 272px;
  }

  .u-section-13 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 11px;
    margin-left: 253px;
  }

  .u-section-13 .u-text-3 {
    font-size: 0.875rem;
    margin-top: -242px;
    margin-right: 95px;
    margin-bottom: 41px;
  }
}.u-section-14 .u-sheet-1 {
  min-height: 500px;
}

.u-section-14 .u-text-1 {
  font-size: 0.875rem;
  margin: 35px 447px 0 auto;
}

.u-section-14 .u-text-2 {
  font-size: 0.875rem;
  margin: -22px 189px 0 auto;
}

.u-section-14 .u-text-3 {
  font-size: 0.75rem;
  margin: 9px auto 0 126px;
}

.u-section-14 .u-text-4 {
  font-size: 0.875rem;
  margin: -17px auto 0 276px;
}

.u-section-14 .u-text-5 {
  font-size: 0.875rem;
  margin: -10px 361px 0 auto;
}

.u-section-14 .u-text-6 {
  font-size: 0.75rem;
  margin: -20px 85px 0 auto;
}

.u-section-14 .u-text-7 {
  font-size: 0.875rem;
  margin: 11px 431px 0 auto;
}

.u-section-14 .u-text-8 {
  font-size: 0.875rem;
  margin: -14px auto 0 248px;
}

.u-section-14 .u-text-9 {
  font-size: 0.875rem;
  margin: -19px 140px 0 auto;
}

.u-section-14 .u-text-10 {
  font-size: 0.875rem;
  margin: 7px 395px 0 auto;
}

.u-section-14 .u-text-11 {
  font-size: 0.75rem;
  margin: -6px 150px 0 auto;
}

.u-section-14 .u-text-12 {
  font-size: 0.875rem;
  margin: 6px auto 0 258px;
}

.u-section-14 .u-text-13 {
  font-size: 0.875rem;
  margin: -10px 406px 0 auto;
}

.u-section-14 .u-text-14 {
  background-image: none;
  font-size: 0.875rem;
  margin: 1px 128px 0 auto;
}

.u-section-14 .u-text-15 {
  font-size: 0.875rem;
  margin: -15px auto 0 170px;
}

.u-section-14 .u-text-16 {
  font-size: 0.875rem;
  margin: -16px 339px 0 auto;
}

.u-section-14 .u-text-17 {
  font-size: 0.875rem;
  margin: 15px 83px 0 auto;
}

.u-section-14 .u-text-18 {
  font-size: 0.875rem;
  margin: 0 auto 0 420px;
}

.u-section-14 .u-text-19 {
  font-size: 0.875rem;
  margin: -9px auto 0 248px;
}

.u-section-14 .u-text-20 {
  font-size: 0.875rem;
  margin: 0 332px 0 auto;
}

.u-section-14 .u-text-21 {
  font-size: 0.875rem;
  margin: 0 auto 0 240px;
}

.u-section-14 .u-text-22 {
  font-size: 0.875rem;
  margin: -21px 148px 0 auto;
}

.u-section-14 .u-text-23 {
  font-size: 0.875rem;
  margin: 17px 400px 0 auto;
}

.u-section-14 .u-text-24 {
  font-size: 0.875rem;
  margin: -14px auto 0 352px;
}

.u-section-14 .u-text-25 {
  font-size: 0.875rem;
  margin: 0 auto 53px 161px;
}

@media (max-width: 1199px) {
  .u-section-14 .u-text-1 {
    margin-right: 368px;
  }

  .u-section-14 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-14 .u-text-5 {
    margin-top: 20px;
    margin-right: 298px;
  }

  .u-section-14 .u-text-7 {
    margin-right: 356px;
  }

  .u-section-14 .u-text-8 {
    margin-top: 20px;
  }

  .u-section-14 .u-text-10 {
    margin-right: 326px;
  }

  .u-section-14 .u-text-13 {
    margin-top: 20px;
    margin-right: 335px;
  }

  .u-section-14 .u-text-16 {
    margin-right: 280px;
  }

  .u-section-14 .u-text-18 {
    margin-left: 346px;
  }

  .u-section-14 .u-text-20 {
    margin-right: 274px;
  }

  .u-section-14 .u-text-23 {
    margin-right: 330px;
  }

  .u-section-14 .u-text-24 {
    margin-left: 290px;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-text-1 {
    margin-right: 282px;
  }

  .u-section-14 .u-text-4 {
    margin-top: 20px;
    margin-left: 211px;
  }

  .u-section-14 .u-text-5 {
    margin-top: -10px;
    margin-right: 228px;
  }

  .u-section-14 .u-text-6 {
    margin-top: 20px;
  }

  .u-section-14 .u-text-7 {
    margin-right: 273px;
  }

  .u-section-14 .u-text-8 {
    margin-top: -14px;
    margin-left: 190px;
  }

  .u-section-14 .u-text-10 {
    margin-right: 250px;
  }

  .u-section-14 .u-text-12 {
    margin-left: 198px;
  }

  .u-section-14 .u-text-13 {
    margin-top: -10px;
    margin-right: 257px;
  }

  .u-section-14 .u-text-16 {
    margin-right: 214px;
  }

  .u-section-14 .u-text-18 {
    margin-left: 265px;
  }

  .u-section-14 .u-text-19 {
    margin-top: 20px;
    margin-left: 190px;
  }

  .u-section-14 .u-text-20 {
    margin-right: 210px;
  }

  .u-section-14 .u-text-23 {
    margin-right: 253px;
  }

  .u-section-14 .u-text-24 {
    margin-left: 222px;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-text-1 {
    margin-right: 212px;
  }

  .u-section-14 .u-text-2 {
    margin-right: 142px;
  }

  .u-section-14 .u-text-4 {
    margin-left: 158px;
  }

  .u-section-14 .u-text-5 {
    margin-top: 20px;
    margin-right: 171px;
  }

  .u-section-14 .u-text-7 {
    margin-right: 205px;
  }

  .u-section-14 .u-text-8 {
    margin-left: 143px;
  }

  .u-section-14 .u-text-9 {
    margin-top: 20px;
  }

  .u-section-14 .u-text-10 {
    margin-right: 188px;
  }

  .u-section-14 .u-text-11 {
    margin-top: 20px;
  }

  .u-section-14 .u-text-12 {
    margin-left: 149px;
  }

  .u-section-14 .u-text-13 {
    margin-right: 193px;
  }

  .u-section-14 .u-text-16 {
    margin-right: 161px;
  }

  .u-section-14 .u-text-18 {
    margin-left: 199px;
  }

  .u-section-14 .u-text-19 {
    margin-left: 143px;
  }

  .u-section-14 .u-text-20 {
    margin-right: 158px;
  }

  .u-section-14 .u-text-21 {
    margin-left: 180px;
  }

  .u-section-14 .u-text-22 {
    margin-top: 20px;
  }

  .u-section-14 .u-text-23 {
    margin-right: 190px;
  }

  .u-section-14 .u-text-24 {
    margin-left: 167px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-text-1 {
    margin-right: 133px;
  }

  .u-section-14 .u-text-2 {
    margin-right: 89px;
  }

  .u-section-14 .u-text-3 {
    margin-left: 79px;
  }

  .u-section-14 .u-text-4 {
    margin-left: 99px;
  }

  .u-section-14 .u-text-5 {
    margin-right: 108px;
  }

  .u-section-14 .u-text-7 {
    margin-right: 129px;
  }

  .u-section-14 .u-text-8 {
    margin-left: 90px;
  }

  .u-section-14 .u-text-9 {
    margin-right: 88px;
  }

  .u-section-14 .u-text-10 {
    margin-right: 118px;
  }

  .u-section-14 .u-text-11 {
    margin-right: 94px;
  }

  .u-section-14 .u-text-12 {
    margin-left: 94px;
  }

  .u-section-14 .u-text-13 {
    margin-right: 122px;
  }

  .u-section-14 .u-text-14 {
    margin-right: 81px;
  }

  .u-section-14 .u-text-15 {
    margin-left: 107px;
  }

  .u-section-14 .u-text-16 {
    margin-right: 101px;
  }

  .u-section-14 .u-text-18 {
    margin-left: 125px;
  }

  .u-section-14 .u-text-19 {
    margin-left: 90px;
  }

  .u-section-14 .u-text-20 {
    margin-right: 99px;
  }

  .u-section-14 .u-text-21 {
    margin-left: 113px;
  }

  .u-section-14 .u-text-22 {
    margin-right: 93px;
  }

  .u-section-14 .u-text-23 {
    margin-right: 120px;
  }

  .u-section-14 .u-text-24 {
    margin-left: 105px;
  }

  .u-section-14 .u-text-25 {
    margin-left: 101px;
  }
}span {
  border-bottom: 2px dotted black;
  flex-grow: 1;
  margin-bottom: 20px /* Add a little bottom margin to align the dots with the bottom of the text */
}
.menu-item {
  display: flex;
} 